<h1>
  <%= gettext "Show User" %>
</h1>
  <p>
    <strong>
      <%= gettext "Username:" %>
    </strong>
    <%= @user.username %>
  </p>
  <a href="/editUsername">
    <%= gettext "Edit Username" %>
  </a>
  <a href="/editPassword">
    <%= gettext "Change Password" %>
  </a>